.hero {
  height: 80svh;
  background-color: var(--off-white);
  padding: 4%;
  position: relative;
  overflow: hidden;
}

#bg {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hero-title,
.hero-text,
.mehr {
  z-index: 1;
}

.hero-text {
  margin-bottom: 10px;
}

.mehr {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--red);
  width: fit-content;
}

.mehr a {
  color: var(--black);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
