@import url(../styles/hero.css);
@import url(../styles/ueber-mich.css);
@import url(../styles/projekte.css);
@import url(../styles/footer.css);
@import url(../styles/modal-styles.css);
@import url(../styles/global.css);